<script type="text/html" id="dialog-log-entry-template" style="display:none">
    <div class="dialog-container" id="dialog-log-entry">
        <div name="dialog-log-entry-form">
            <form class="row col-sm-12">
                <div class="form-group thin-gutter">
                    @*<label for="formDate">Date / Time</label>*@
                    <input id="formDate" type="datetime" class="form-control" placeholder="Timestamp" data-bind="value: timestamp" required />
                </div>
                <div class="form-group col-xs-6 thin-gutter">
                    @*<label for="formEntryType">Entry Type</label>*@
                    <select id="formEntryType" class="form-control" data-bind="value: meal" required>
                        <option value="" disabled selected>Entry Type...</option>
                        <option value="1">Breakfast</option>
                        <option value="2">Lunch</option>
                        <option value="3">Dinner</option>
                        <option value="4">Snack</option>
                        <option value="5">Elimination</option>
                        <option value="6">Awake</option>
                        <option value="7">Asleep</option>
                    </select>
                </div>
                <div class="form-group col-xs-6 thin-gutter" data-bind="visible: meal() < 5">
                    @*<label for="formHungerScale">Hunger Scale</label>*@
                    <select id="formHungerScale" class="form-control" data-bind="value: hungerScale" required>
                        <option value="" disabled selected>Hunger Scale...</option>
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
                <div class="form-group thin-gutter" data-bind="visible: meal() <= 5">
                    @*<label for="formDescription">Description</label>*@
                    <textarea id="formDescription" rows="3" class="form-control" data-bind="value: description, attr: { placeholder: meal() == 5 ? 'Description' : 'Food & Beverages' }"></textarea>
                </div>
                <!-- ko if: meal() < 5 -->
                <div class="form-group thin-gutter">
                    @*<label for="formLocation">Location</label>*@
                    <input id="formLocation" type="text" class="form-control" placeholder="Location" data-bind="value: location" />
                </div>
                <div class="form-group thin-gutter">
                    @*<label for="formComments">Comments / Symptoms</label>*@
                    <textarea id="formComments" rows="3" class="form-control" placeholder="Comments/Symptoms" data-bind="value: comments"></textarea>
                </div>
                <div class="thin-gutter">
                    @*<label>Image</label>*@
                    <div class="image-container">
                        <span class="fileinput-button" title="Click to upload an image">
                            <img data-bind="attr: { src: $data.ImageSource() }" style="height: 120px" />
                            <input class="fileupload" type="file" name="files[]">
                        </span>
                        @*<!-- ko if: data == undefined -->
                            <div class="progress image-upload-progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                            </div>
                        <!-- /ko -->*@
                    </div>
                </div>
                <!-- /ko -->
            </form>
        </div>
    </div>
</script>