body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.feedback-tag {
    /* Safari */
    -webkit-transform: rotate(-90deg);
    /* Firefox */
    -moz-transform: rotate(-90deg);
    /* IE */
    -ms-transform: rotate(-90deg);
    /* Opera */
    -o-transform: rotate(-90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

    position: absolute;
    top: 75px;
    left: -25px;

    border: 2px solid white;
    background-color: black;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.feedback-tag:hover {
    background-color: #337ab7;
    color: white;
    text-decoration: none;
}

.thin-gutter {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.no-gutter {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.entry-dropdown {
    cursor: pointer;
    width: 15px;
    background-color: #dcf4fb;
    border: 1px solid #c7e5ee;
    text-align: center;
    margin: 0 4px 4px 0;
    padding:  5px 10px;
    border-radius: 5px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 16px;
  }
}

.modal {
    position: absolute !important;
}