<style>
    .wrapper {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .wrapper div {
        display: table-cell;
    }
    ul {
        padding: 0;
        list-style-type: none;
    }
</style>
@Html.Partial("../Shared/_EditEntryCtrl")
@Html.Partial("../Shared/SearchEntries")
@Html.Partial("../Shared/LogEntry")
<div class="container inherit-height" style="margin-top: 20px;" id="MainPage">
    @*<a class="feedback-tag" href="mailto:brianushman@gmail.com">Feedback</a>*@
    <div class="col-xs-12 no-gutter" style="margin-bottom: 5px; display: inline-block; text-align: center;">
        <strong data-bind="text: JournalHeading" style="font-size: 18px;"></strong>
        <div class="pull-left">
            <button type="button" class="btn btn-primary" data-bind="click: function() { return CreateEntry(); }">Create Entry</button>
        </div>
        <div class="pull-right btn-toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-info pull-right" title="Search Food Entries" data-bind="click: OpenSearchDialog"><i class="fa fa-search"></i></button>
                <button id="btnChangeDate" type="button" class="btn btn-info pull-right" title="View Calendar" data-date-format="yyyy-mm-dd"><i class="fa fa-calendar" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-info pull-right" title="Move To Next Day" data-bind="click: MoveNextDay"><i class="fa fa-arrow-right"></i></button>
                <button type="button" class="btn btn-info pull-right" title="Move To Today" data-bind="click: MoveToday"><bold class="fa fa-calendar-check-o" aria-hidden="true"></bold></button>
                <button type="button" class="btn btn-info pull-right" title="Move To Previous Day" data-bind="click: MovePreviousDay"><i class="fa fa-arrow-left"></i></button>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Food and Beverages</th>
                <th>Hunger Scale</th>
                <th>Comments or Symptoms</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <!-- ko foreach: LogEntries --> 
            <!-- ko if: meal() == 6 --> 
            <tr>
                <td class="entry-cell" colspan="5">
                    <div class="edit-ctrl" data-bind="template: { name: 'edit-entry-template', data: $data }"></div>
                    <span data-bind="html: Column1Text" style="white-space: nowrap; display: inline-block; height: 100%;"></span>
                </td>
            </tr>
            <!-- /ko -->          
            <!-- ko if: meal() < 5 -->
            <tr>
                <td class="entry-cell">
                    <div class="edit-ctrl" data-bind="template: { name: 'edit-entry-template', data: $data }"></div>
                    <span data-bind="html: Column1Text" style="white-space: nowrap; display: inline-block; height: 100%;"></span>
                </td>
                <td data-bind="html: descriptionFormatted"></td>
                <td data-bind="text: hungerScale"></td>
                <td data-bind="html: Column4Text"></td>
                <td><img style="cursor: pointer; height: 90px" data-bind="click: ImagePreview, attr: { src: ImageMarkup() }" /></td>
            </tr>
            <!-- /ko -->
            <!-- ko if: meal() == 8 -->
            <tr>
                <td class="entry-cell">
                    <div class="edit-ctrl" data-bind="template: { name: 'edit-entry-template', data: $data }"></div>
                    <span data-bind="html: Column1Text" style="white-space: nowrap; display: inline-block; height: 100%;"></span>
                </td>
                <td data-bind="html: descriptionFormatted" colspan="4"></td>
            </tr>
            <!-- /ko -->
            <!-- ko if: meal() == 7 -->
            <tr>
                <td class="entry-cell" colspan="5">
                    <div class="edit-ctrl" data-bind="template: { name: 'edit-entry-template', data: $data }"></div>
                    <span data-bind="html: Column1Text" style="white-space: nowrap; display: inline-block; height: 100%;"></span>
                </td>
            </tr>
            <!-- /ko --> 
            <!-- /ko -->
            <tr data-bind="if: EliminationEntries().length > 0">
                <td data-bind="html: '<strong>ELIMINATION</strong><br><small>DESCRIPTION</small>'"></td>
                <td colspan="4" style="padding: 0 !important;">
                    <div class="wrapper">
                        <!-- ko foreach: EliminationEntries -->
                        <div data-bind="style: { borderLeft: $root.EliminationBorderStyling($index()) }" style="padding: 8px">
                            <div class="edit-ctrl" data-bind="template: { name: 'edit-entry-template', data: $data }"></div>
                            <div data-bind="html: EliminationEntry"></div>
                        </div>
                        <!-- /ko -->
                    </div>
                </td>                
            </tr>
        </tbody>
    </table>
    <!-- ko if: LogEntries().length == 0 -->
    <div class="col-xs-12" style="text-align: center">
        <strong style="font-size: 18px; color: #ccc;">No Entries Logged</strong>
    </div>
    <!-- /ko -->
</div>
