@Html.Partial("../Shared/LogEntry")
<div class="container inherit-height" style="margin-top: 20px;" id="MainPage">
    <a class="feedback-tag" href="mailto:brianushman@gmail.com">Feedback</a>
    <button type="button" class="btn btn-primary" data-bind="click: function() { return CreateEntry(); }">Create Entry</button>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Date</th>
                <th>Food and Beverages</th>
                <th>Hunger Scale</th>
                <th>Comments or Symptoms</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: LogEntries">
            <tr>
                <td data-bind="html: Column1Text"></td>
                <td data-bind="text: description"></td>
                <td data-bind="text: scale"></td>
                <td data-bind="text: comments"></td>
            </tr>
        </tbody>
    </table>
</div>
